/* CSS for Projects Section */
/* ===============
    * WRAPPERS
   =============== */
.project-section-wrapper {
    position: relative;
}
/* ===============
   * Projects Section
   =============== */
   #projects {
    position: static;
    overflow: auto;                             /* prevents container from collapsing */
}
#projects-h2 {
    margin: 6rem 0 3rem 0;
    text-align: center;
}
.project-main-grid-container {
    margin-bottom: 4rem;
}
.project-card-grid {
    margin: 1.375rem 1.5rem;
    padding: 1rem 1rem 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.project-image {
    display: flex;
    padding: 0.875rem 0.5rem 0.25rem 0.5rem;
    margin: 0.875rem 0.5rem 0.125rem 0.5rem;
    align-self: center;
}
.project-image-padding {
    padding: 0 0.25rem 0 0.25rem;
}
.project-text-container {
    margin: 0.25rem 1rem;
    padding: 0.25rem 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.project-text-heading {
    margin: 1rem 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem .5rem;
    text-align: center;
}
 .project-text {
    margin: auto;
    padding: 0.375rem .5rem;
}
.view-link-container{                           /* container for open icon and link for (some) project cards */
    display: flex;
    margin: 1.50rem 0 0 .75rem;
}
 .project-open-icon {
    margin-right: 0.188rem;
}

/* *=================================================================================================================================================================  */

/* ===============
   * Breakpoints
   =============== */

/* *Default screen size for design is extra small screens between 320 and 575 pixels wide */
/* **Breakpoint 1** */
/* Small devices (landscape phones, 576px and up) [between 576-767 pixels] */
@media (min-width: 576px) {

    /* TODO Make About image larger */

    /* Projects Section */
    .project-main-grid-wrapper {
        width: 80%;
        margin: auto;
    }
    .project-card-grid {
        margin: 1.438rem 1.5rem;
    }

} /* *end breakpoint 1 */

/* **Breakpoint 2** */   
/* Medium devices (tablets, 768px and up) [between 768-991 pixels] */
   @media (min-width: 768px) {

    /* Projects Section */
    .project-main-grid-wrapper {
        width: 60%;
        margin: auto;
    }
    
} /* *end breakpoint 2 */

/* **Breakpoint 3** */     
/* Large devices (desktops, 992px and up) [between 992-1199 pixels] */
   @media (min-width: 992px) {

    /* Projects Section */
    .project-main-grid-wrapper {
        width: 100%;
    }
    .project-main-grid-container {                      /* grid container for 4 project cards */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .project-card-grid {
        margin: 1rem;
        padding: 1rem;
        width: 40%;
    }
    .project-text-heading {
        margin: 0.5rem;
        padding: 0.5rem;
    }
    .project-text { 
        margin: .5rem;
        padding: 0.375rem .5rem;
    }
    /* Zoom effect on hover for project images */
    .project-image img {
        -webkit-transition: all .4s ease-out; /* Safari and Chrome */
        -moz-transition: all .4s ease-out; /* Firefox */
        -ms-transition: all .4s ease-out; /* IE 9 */
        -o-transition: all .4s ease-out; /* Opera */
        transition: all .4s ease-out;
    }
    .project-image:hover img {
        -webkit-transform:scale(1.25); /* Safari and Chrome */
        -moz-transform:scale(1.25); /* Firefox */
        -ms-transform:scale(1.25); /* IE 9 */
        -o-transform:scale(1.25); /* Opera */
        transform: scale(1.25);
    }

} /* *end breakpoint 3 */

/* **Breakpoint 4** */  
/* X-Large devices (large desktops, 1200px and up) [between 1200-1399 pixels] */
   @media (min-width: 1200px) {

    /* Projects Section */
    .project-main-grid-wrapper {
        width: 100%;
    }
    .project-image {
        background-color: #ffffff;
    }
    .project-text-heading {
        margin: 0;
        padding: 0;
    }
    .project-text {
        margin: 0;
        padding: 0;
    }
} /* *end breakpoint 4 */

/* **Breakpoint 5** */     
/* XX-Large devices (larger desktops, 1400px and up) */
   @media (min-width: 1400px) {

    /* Projects Section */
 /*  TODO - keep or not?
    #proj-item-4 p {
        font-size: 1rem;               resizes project 4's text so it fits better within the grid                  
    }
    #proj-item-4 h3 {                  resizes project 4's text so it fits better within the grid   
        font-size: 1.375rem;
    } */
} /* *end breakpoint 5 */